@import '../../assets/styles/_vars.scss';


.md-toolbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100px;
}

.app-title {
	font-weight: normal;
	padding: 5px;

	&__admin {
		font-size: 0.4em;
		color: md-color($accent);
	}
}

.app-logo-ref {
	display: flex;
	align-items: center;
	text-decoration: none;	
	color: currentColor;
}